* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(../masterclassbuffetStyle/masterclassbuffetFonts/OpenSans-VariableFont_wdth.ttf);
}

@font-face {
  font-family: "Tenor Sans", sans-serif;
  src: url(../masterclassbuffetStyle/masterclassbuffetFonts/TenorSans-Regular.ttf);
}
