* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100%;
  width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

main {
  background: #f3efea;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(../aboutStyle/aboutFonts/OpenSans-VariableFont_wdth.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
