$font-text: 'Open Sans', sans-serif;
$font-title: 'Tenor Sans', sans-serif;
$bg-color-light: #F3EFEA;
$bg-color-brown: #715B4B;
$text-color-header: #323232;
$breakpoint_sm: 376px;
$breakpoint_md: 768px;


