// Добавить переменные (шрифт и цвет)
$font-text: "Open Sans", sans-serif;
$font-title: "Tenor Sans", sans-serif;
$bg-color-light: #f3efea;
$bg-color-brown: #715b4b;
$text-color-header: #323232;
$text-color-footer: #f6f6f6;
$text-color-main: #57463a;

$btn-bg-color: #a1b29f;
$btn-bg-color-hover: #678064;
