@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(../aboutStyle/aboutFonts/OpenSans-VariableFont_wdth.ttf);
}
@font-face {
  font-family: "Tenor Sans", sans-serif;
  src: url(../aboutStyle/aboutFonts/TenorSans-Regular.ttf);
}
.header-row {
  margin: auto;
  width: 100%;
  height: 138px;
  background-color: #f3efea;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  border-bottom: 1px solid #000;
}
@media screen and (max-width: 768px) {
  .header-row {
    width: 100%;
    justify-content: flex-end;
    height: 10vh;
  }
}
.header-row .header-menu-left {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 320px;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header-row .header-menu-left {
    display: none;
  }
}
.header-row .header-menu-right {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 320px;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header-row .header-menu-right {
    display: none;
  }
}
.header-row .header-menu__link {
  text-decoration: none;
  color: #323232;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.header-row .header-menu__link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 769px) {
  .header__burger {
    display: none;
  }
}

.icon {
  height: 50px;
  width: 178px;
}

@media screen and (max-width: 768px) {
  .logotip {
    display: none;
  }
}
.main {
  margin: auto;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .main {
    width: 100%;
  }
}

/* Верхний див с картинкой, заголовком и кнопкой */
.main__wrapper {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../../images/masterclassImg/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 375px) {
  .main__wrapper {
    background-image: url(../../images/masterclassImg/background-mobile-version.png);
  }
}

/* Общие характеристики для всех h2 */
.main__title {
  font-family: "Tenor Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* Заголовок h2 "Нам доверяют мебель с историей в 120 лет" */
.first-page-title {
  color: #F6F6F6;
  width: 80%;
}
@media screen and (min-width: 376px) and (max-width: 768px) {
  .first-page-title {
    font-size: 40px;
  }
}
@media screen and (max-width: 375px) {
  .first-page-title {
    font-size: 32px;
  }
}

/* Общие характеристики для кнопки */
.btn-mk {
  height: 60px;
  width: 328px;
  cursor: pointer;
}

/* Кнопка "Смотреть мастер-классы" */
.main__view-master-class {
  background-color: #F6F6F6;
  color: #4c6D77;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  border: none;
  margin-top: 5rem;
}
@media screen and (max-width: 375px) {
  .main__view-master-class {
    width: 300px;
  }
}

/* Кнопка "Смотреть мастер-классы" при наведении*/
.main__view-master-class:hover {
  background-color: #4c6D77;
  color: #F6F6F6;
}

/* Общие характеристики для большого дива в виде отступов и размеров */
.main__work-examples {
  width: 100%;
  padding: 7rem;
  background-color: #f3efea;
}
@media screen and (min-width: 376px) and (max-width: 768px) {
  .main__work-examples {
    padding: 4rem;
  }
}
@media screen and (max-width: 375px) {
  .main__work-examples {
    padding: 2rem;
  }
}

/* Заголовок h2 "Наши работы" */
.title-our-works {
  color: #57463A;
}
@media screen and (min-width: 376px) and (max-width: 768px) {
  .title-our-works {
    font-size: 40px;
  }
}
@media screen and (max-width: 375px) {
  .title-our-works {
    font-size: 32px;
  }
}

/* Див, объединяющий картинки до/после + кнопка */
.main__img {
  width: 100%;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
}
@media screen and (max-width: 768px) {
  .main__img {
    margin-top: 2rem;
  }
}

/* Каждый div с картинкой и подписью до/после */
.main__img-before-after {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Параметры p (подписи для картинок) */
.img-name {
  color: #323232;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 103%;
  text-align: center;
  margin-top: 1rem;
}

/* Параметры дива с кнопкой "Смотреть больше примеров" */
.set-btn-examples {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

/* Параметры для кнопки "Смотреть больше примеров" */
.main__examples {
  background: #A1B29F;
  color: #f6f6f6;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  border: none;
}
@media screen and (max-width: 375px) {
  .main__examples {
    width: 300px;
  }
}

/* Параметры для кнопки "Смотреть больше примеров" при наведении */
.main__examples:hover {
  background-color: #678064;
}

/* Параметры для дива "Какие техники изучите на МК" */
.main__technique-mc {
  padding-top: 5rem;
}

/* Заголовок h2 "Какие техники изучите на МК" */
.technique {
  color: #57463A;
  margin-bottom: 2rem;
}
@media screen and (min-width: 376px) and (max-width: 768px) {
  .technique {
    font-size: 40px;
  }
}
@media screen and (max-width: 375px) {
  .technique {
    font-size: 32px;
  }
}

/* Общий див для списка */
.main__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

/* Див для каждой отдельной позиции списка */
.list-number {
  display: flex;
  align-items: center;
  margin-bottom: 3.5rem;
}

/* Отсутствие отступа у последнего элемента */
.list-number:last-child {
  margin-bottom: 0px;
}

/* Див, который создает кружочек для каждого элемента списка */
.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  background-color: #A1B29F;
  margin-right: 2rem;
  flex-shrink: 0;
  position: relative;
}
@media screen and (max-width: 768px) {
  .circle {
    font-size: 20px;
  }
}

/* Вертикальная линия между элементами списка */
.vertical-circle::before {
  content: " ";
  width: 1px;
  height: 3.7rem;
  background-color: #C4C4C4;
  position: absolute;
  top: 58px;
}

/* Параметры заголовка h3 */
.main__subtitle {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .main__subtitle {
    font-size: 14px;
  }
}

/* Див с картинкой и заголовком */
.main__about-second-life {
  width: 100%;
  height: 50vh;
  background-image: url(../../images/masterclassImg/laminate.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Заголовок h2 "Подари вторую жизнь старой мебели и сохрани историю вашей семьи" */
.title-about-second-life {
  width: 80%;
  color: #F6F6F6;
  text-align: center;
}
@media screen and (min-width: 376px) and (max-width: 768px) {
  .title-about-second-life {
    font-size: 40px;
  }
}
@media screen and (max-width: 375px) {
  .title-about-second-life {
    font-size: 32px;
  }
}

/* Общие характеристики для большого дива в виде отступов и размеров */
.main__master-classes {
  width: 100%;
  padding: 7rem;
  background-color: #f3efea;
}
@media screen and (min-width: 376px) and (max-width: 768px) {
  .main__master-classes {
    padding: 4rem;
  }
}
@media screen and (max-width: 375px) {
  .main__master-classes {
    padding: 2rem;
  }
}

/* Заголовок "Мастер-классы по реставрации мебели" */
.mc-restoration {
  color: #57463A;
}
@media screen and (min-width: 376px) and (max-width: 768px) {
  .mc-restoration {
    font-size: 40px;
  }
}
@media screen and (max-width: 375px) {
  .mc-restoration {
    font-size: 32px;
  }
}

/* Див, объединяющий картинки с мастер-классами */
.main__mc-images {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  align-items: end;
  justify-items: center;
}

/* Параметры p (подписи для картинок) */
.mc-img-name {
  color: #323232;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  margin-top: 23px;
}

.about-mc-joinery {
  padding-top: 5rem;
}

/* Заголовок "Мастер-классы по столярному делу" */
.joinery {
  color: #57463A;
  margin-bottom: 2rem;
}
@media screen and (min-width: 376px) and (max-width: 768px) {
  .joinery {
    font-size: 40px;
  }
}
@media screen and (max-width: 375px) {
  .joinery {
    font-size: 32px;
  }
}

/* Див, объединяющий картинки по столярному делу */
.main__mc-joinery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

/* Див с картинкой + подпись */
.main__about-joinery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Размеры картинок */
.joinery-img {
  max-width: 45vw;
  max-height: 45vh;
}

/* Параметры p (подписи для картинок) */
.joinery-img-name {
  color: #323232;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  margin-top: 1rem;
  max-width: 45vw;
}
@media screen and (max-width: 768px) {
  .joinery-img-name {
    font-size: 0.8rem;
  }
}

/* Див, объединяющий инфу по редизайну */
.main__redesign {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
@media screen and (max-width: 768px) {
  .main__redesign {
    display: none;
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Заголовок "Руководство по редизайну деревянной мебели" */
.redesign {
  color: #57463A;
  font-size: 3vw;
}

/* Параграф */
.about-redesign {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 2vw;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}
@media screen and (max-width: 768px) {
  .about-redesign {
    font-size: 18px;
  }
}

/* Параметры кнопки "Подробнее"*/
.details {
  width: 245px;
  height: 60px;
  background-color: #A1B29F;
  color: #F6F6F6;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  border: none;
  cursor: pointer;
}

/* Кнопка при наведении курсора */
.details:hover {
  background-color: #678064;
}

/* Параметры для картинки */
.redesign-img {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

/* Див, объединяющий инфу по редизайну для планшетной и мобильной версии (для перестройки структуры) */
.main__redesign-tablet-version {
  margin-top: 2rem;
}
@media screen and (min-width: 769px) {
  .main__redesign-tablet-version {
    display: none;
  }
}

/* Параметры для заголовка h2 "Руководство по редизайну деревянной мебели" */
.redesign-tablet-version {
  margin-bottom: 2rem;
}
@media screen and (min-width: 376px) and (max-width: 768px) {
  .redesign-tablet-version {
    font-size: 40px;
  }
}
@media screen and (max-width: 375px) {
  .redesign-tablet-version {
    font-size: 32px;
  }
}

.description-tablet-version {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* Параметры для картинки */
.redesign-img-tablet-version {
  border: 1px solid black;
  width: 100%;
}

/* Параметры для параграфа для компьютера и планшета */
@media screen and (max-width: 375px) {
  .tablet-version {
    display: none;
  }
}

/* Параметры для параграфа для мобильной версии */
@media screen and (min-width: 376px) {
  .mobile-version {
    display: none;
  }
}

.footer-row {
  margin: auto;
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  background-color: #715b4b;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  /* Ссылки при наведении курсора подчеркиваются */
}
@media screen and (max-width: 768px) {
  .footer-row {
    width: 100%;
    align-content: space-evenly;
    justify-content: space-between;
    padding-left: 38px;
    padding-right: 38px;
  }
}
@media screen and (max-width: 375px) {
  .footer-row {
    height: 650px;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.footer-row .footer-menu {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .footer-row .footer-menu {
    row-gap: 10px;
  }
}
.footer-row .footer-menu__link,
.footer-row .info {
  font-family: "Open Sans", sans-serif;
  color: #f6f6f6;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  text-decoration: none;
}
@media screen and (max-width: 375px) {
  .footer-row .info {
    order: 1;
  }
}
.footer-row .footer-menu__link:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .footer-row .tablet-hide {
    display: none;
  }
}
@media screen and (min-width: 376px) {
  .footer-row .tel-show {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .footer-row .tablet-show {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .footer-row .tablet-show {
    display: none;
  }
}
.footer-row .buttons {
  display: flex;
  align-content: center;
  gap: 18px;
}
.footer-row .buttons .button {
  background-color: #715b4b;
  width: 52px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 50px;
  border: 1px solid #f6f6f6;
}
.footer-row .buttons .telegram_icon {
  margin-right: 4px;
  margin-top: 4px;
}
@media screen and (max-width: 768px) {
  .footer-row .buttons {
    order: -1;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */